<!DOCTYPE html>
<html lang="de">
    <head>
        <title></title>
        <link rel="icon" href="/favicon.ico" type="image/x-icon">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600|Ubuntu+Condensed" rel="stylesheet">
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    </head>
    <body class="">
        <div class="l-page">
            {% body %}
        </div>
        <script src="bundle.js"></script>
    </body>
</html>
